/* border: 1px solid #f00; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: auto;
	height: 100%;
	background-color: #fff;
}

h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;
	font-style: normal;
}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text_white {
	color: #fff;
}

.clear {
	clear: both;
}

/* grid */
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

section {
	position: relative;
}
input,textarea, button {
	outline: none;
}

/* start header */
header {
	position: relative;
	width: 100%;
	height: 100px;
	padding-top: 15px;
	z-index: 1;
}
header .logo {
	text-align: center;
}
/* end header */

.banner {
	position: relative;
	width: 100%;
	height: 650px;
	background: linear-gradient(0deg, #ffa8a8, #fcff00);
	padding-top: 185px;
	overflow: hidden;
	z-index: 0;
}
.banner .banner-text {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.banner .banner-text h1 {
	font-size: 40px;
}
.banner .banner-text h1 span {
	font-family: "RedRingBlack", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.banner .banner-img {
	position: absolute;
	width: 324px;
	height: 100%;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url("images/phones.png");
	background-repeat: no-repeat;
	background-position: center 100%;
	-webkit-background-size: auto;
	background-size: auto;
}
/* end section.banner */


/* section.definition */
.definition {
	width: 100%;
	height: auto;
	padding: 105px 0;
}

.definition .definition-item {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: 0 30px;
	text-align: center;
}
.definition .definition-item h3 {
	font-family: "ProximaNovaThin", sans-serif;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}
.definition .definition-item .icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 25px 0;
}
.definition .definition-item .icon.innovative {
	background: url("images/lamp.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.definition .definition-item .icon.unlimited {
	background: url("images/infinity.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.definition .definition-item .icon.trendy {
	background: url("images/trendy.png");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto;
	background-size: auto;
}
.definition .definition-item p {
	width: 75%;
	height: auto;
	margin: 0 auto;
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: justify;
}
/* end section definition */

section.form {
	position: relative;
	width: 100%;
	height: auto;
	padding: 105px 0;
	text-align: center;
	background-color: #f8f6f6;
}
section.form h2 {
	font-size: 24px;
	margin-bottom: 50px;
}
section.form form {
	display: inline-block;
	width: 60%;
	height: auto;
}
form input,
form textarea {
	width: 100%;
	font-size: 18px;
	color: #000;
	border: 2px solid #ffa8a8;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
}

section.form form input {
	height: 40px;
}

section.form form textarea {
	height: 200px;
	resize: none;
}

.btn {
	display: inline-block;
	width: auto;
	height: 45px;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 15px;
	border: none;
	padding: 10px 10%;
	text-align: center;
	transition: 0.4s;
	background-size: 200% auto;
	border-radius: 10px;
	background-image: linear-gradient(to right, #ffaaaa 0%, #ffff00 51%, #ffaaaa 100%);
	cursor: pointer;
}
.btn:hover {
	background-position: right center;
}

/* end section.form */

/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 92px;
	background-color: #ffa8a8;
	text-transform: uppercase;
}















